<div class="col-12">
  <h1 class="text-center mt-4">About</h1>
  <p class="about-introduction text-center mt-4">
    ながのCAKEは全国発送可能なケーキ屋さんです。
    お子様からお年寄りの方までお召し上がりいただけるよう、
    様々なバリエーションをご用意しております。
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
    ぜひご注文ください。
  </p>
  <div class="text-center m-3 col-12"><%= image_tag('eclair-3366430_640.jpg', size: '720x440') %></div>
</div>