
<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-center mb-5 p-4">Nagano Cakeについて</h1>
      <p class= "text-center w-75">
        ながのCAKEは全国発送可能なケーキ屋さんです。
        お子様からお年寄りの方までお召し上がりいただけるよう、
        様々なバリエーションをご用意しております。
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
        ぜひご注文ください。
      </p>
    </div>
    <div class="col-6 text-center p-5">
      <%= image_tag('eclair-3366430_640.jpg', size: '520x380', class: "rounded-circle") %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center p-5">
      <%= image_tag('blueberry-1082500_1280.jpg', size: '520x340', class: "rounded-circle") %>
    </div>
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-center mt-4">Nagano Cakeについて</h1>
      <p class="about-introduction text-center mt-4 w-75">
        ながのCAKEは全国発送可能なケーキ屋さんです。
        お子様からお年寄りの方までお召し上がりいただけるよう、
        様々なバリエーションをご用意しております。
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
        ぜひご注文ください。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center">
      <h1 class="text-center mb-5 p-4">Nagano Cakeについて</h1>
      <p class= "text-center w-75">
        ながのCAKEは全国発送可能なケーキ屋さんです。
        お子様からお年寄りの方までお召し上がりいただけるよう、
        様々なバリエーションをご用意しております。
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
        ぜひご注文ください。
      </p>
    </div>
    <div class="col-6 text-center p-5">
      <%= image_tag('muffins-4002553_1280.jpg', size: '520x380', class: "rounded-circle") %>
    </div>
  </div>
</div>

<div class="col-12 pt-5">
  <h1 class="text-center mt-4">Store</h1>
  <div class="offset-md-4 text-left mt-4">
    <p>〒111-1111　長野県長野市1-1-1</p>
    <p>営業時間：13:00〜17:30</p>
    <p>休業日：毎週水曜</p>
  </div>
  <div class="about-introduction text-center mt-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d804.5856984380425!2d137.62106982925172!3d36.231165998754356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDEzJzUyLjIiTiAxMzfCsDM3JzE3LjgiRQ!5e0!3m2!1sja!2sjp!4v1627177687037!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>

