<div class="container">
  <div class="row">
    <div class="d-flex col-12 align-items-center justify-content-center mt-5" style="height:300px;">
      <div class="ornament">
        <h1><span></span>Thank you for your order!</h1>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-center mb-5">
        <h3>またのご利用をお待ちしております。</h3>
      </div>
    </div>
    <div class="row col-12">
      <%= link_to "トップページへ戻る", root_path, class: "col-12 mb-3 mt-3 text-center" %>
    </div>
  </div>
</div>

