/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 .genre-list li{
  list-style: none;
  margin: 20px 0 20px 0;
 }

 .home-image {
  position: relative;
 }

 .introduction {
  background-color: white;
  padding: 30px;
  position: absolute;
  top: 22%;
  width: 70%;
  margin-left: 15%;
 }

 .new-products {
  list-style: none;
  overflow: hidden;
 }

 .new-products li {
  float: left;
  margin-right: 1%;
}

 .nagano-cake {
  font-family: cursive;
 }

 .about-introduction {
  width: 60%;
  margin: 0 auto;
 }


// kaminari：センター揃え
.pagination {
  justify-content: center;
}

// エラーメッセージによるフォームのレイアウト崩れを防ぐ
.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
  }
}